<h1>SHOW EACH Business</h1>
<% var routeId = data.id %>
<% if (data.comments) {%>
  <% routeId = data.yelpID %>
  <h2 id="<%= routeId %>"><%= data.name %></h2>
  <h3><%= data.address %></h3>
  <h4><%= `${data.city}, ${data.state} ${data.zip_code}` %></h4></br>
  <% for (var i = 0; i < data.comments.length; i++) { %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="each-comment" id="<%= `${data.comments[i].id}` %>">
          <h5 id="title-<%= `${i}` %>" class="story-title"><%= data.comments[i].title %></h5>
          <p id="body-<%= `${i}` %>"><%= data.comments[i].body %></p>
          <% if(data.comments[i]._by.toString() === user.id.toString()){ %>
            <button id="<%=`${i}`%>" class="edit-comment">Edit</button>
            <form action="<%= `/show/${routeId}/comment/${data.comments[i].id}/x` %>" method="post">
              <button class="delete-comment" type="submit" >Delete comment</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>


  <% } %>

<% } else { %>
  <h2><%= data.name %></h2>
  <h3><%= data.location.address1 %></h3>
  <h4><%= `${data.location.city}, ${data.location.state} ${data.location.zip_code}` %></h4>
<% } %>

<form class="form" action="<%= `/show/${routeId}/comment` %>" method="post">
  <input class="title" type="text" name="title" value="" placeholder="Title">
  <textarea class="body" name="body" rows="8" cols="80" placeholder="Write your story...." ></textarea>
  <input class="submit" type="submit" id="story-create" value="Post Story" >
</form>
