<h1>SHOW EACH Business</h1>
<% if (data.comments) {%>
  <h2><%= data.name %></h2>
  <h3><%= data.address %></h3></br>
  <% for (var i = 0; i < data.comments.length; i++) { %>
    <p>Title: <%= data.comments[i].title %></p>
    <p><%= data.comments[i].body %></p></br>
  <% } %>

<% } else { %>
  <h2><%= data.name %></h2>
  <h3><%= data.location.display_address %></h3>
<% } %>
<form action="<%= `/show/${data.id}/comment` %>" method="post">
  <input type="text" name="title" value="">
  <textarea name="body" rows="8" cols="80" placeholder="Write your story...."></textarea>
  <input type="submit" id="story-create" value="Post Story" >
</form>
